/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /**padding-top: 120px; otros navigation*/
  padding-top: 60px;
  padding-bottom: 20px;
}

.scrollup{
    width:40px;
    height:40px;
    text-indent:-9999px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:444px;
    display:none;
    background: url('images/icon_top.png') no-repeat;
}

.navbar .brand{
    max-height: 40px;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;

}

.navbar a.navbar-brand {padding: 9px 15px 8px; }

/*footer*/

.site-footer {
    background: #AC1E2A;
    color: #fff;
    padding: 10px 0;
}

.go-top {
    margin-right: 1%;
    float: right;
    background: rgba(255,255,255,.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.go-top i {
    color: #a90329;
}

.site-min-height {
    min-height: 900px;
}

.float-none {
    float: none;
}

